// Forms
form {
  margin-bottom: .9375rem;
}

input[type='checkbox'],
input[type='radio'] {
  padding: 0;

  // Addresses excess padding in IE8/9
}

input[type='search']::-webkit-search-decoration {

  // Corrects inner padding displayed oddly in S5, Chrome on OSX
  -webkit-appearance: none;
}

input[type='search'] {
  box-sizing: border-box;

  // Overrules normalize.css.
}

button::-moz-focus-inner,
input::-moz-focus-inner {

  // Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
  border: 0;
  padding: 0;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea,
.input-text {
  padding: .618rem;
  background-color: darken($body-background, 5%);
  color: $color_body;
  line-height: 1;
  outline: none;
  border: 0;
  -webkit-appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  font-weight: normal;

  &:focus {
    background-color: darken($body-background, 10%);
    color: darken($color_body, 10%);
  }
}

textarea {
  overflow: auto;

  // Removes default vertical scrollbar in IE6/7/8/9
  padding-left: .857rem;
  vertical-align: top;

  // Improves readability and alignment in all browsers
  width: 100%;
}

label {
  font-weight: 700;

	&.inline {
	  input {
	    width: auto;
	  }
	}
}

fieldset {
  padding: 0;
  border: 0;
  margin-bottom: .9375rem;

  legend {
    font-weight: 700;
  }
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity .5s .5s ease;
  opacity: 0;
}
