// Main Naivgation
// General Menu Styles
.main-navigation {
  clear: both;

	&.toggled {
	  .handheld-navigation,
	  .menu > ul:not(.nav-menu) {
	    display: block;
	  }
	}
}

.secondary-navigation {
  display: none;
}

.menu-toggle {
  cursor: pointer;
  margin: 2rem auto;
  display: block;
  width: 100%;
  text-align: left;

  &:before {
    font-family: 'FontAwesome';
    font-weight: 400;
    content: '\f0c9';
    margin-right: .53rem;
  }

	ul {
	  margin-left: 0;
	  list-style: none;

	  ul {
	    display: block;
	    margin-left: .625rem;
	  }

	  li {
	    a {
	      padding: .857rem .625rem;
	      display: block;

	      &:before {
	        font-family: 'FontAwesome';
	        content: '\f0f6';
	        margin-right: .53rem;
	        font-weight: 400;
	      }

	      &:hover {
	        color: #e6e6e6;
	      }
	    }
	  }
	}
}

.primary-navigation {
  display: none;
}

.handheld-navigation,
.nav-menu,
.main-navigation div.menu > ul:not(.nav-menu) {
  display: none;
}

.handheld-navigation {
  margin-bottom: 2rem;

  ul {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-toggle,
  .handheld-navigation,
  .main-navigation.toggled .handheld-navigation,
  .main-navigation.toggled div.menu {
    display: none;
  }

  .primary-navigation {
    display: block;
  }

  .main-navigation,
  .secondary-navigation {
    clear: both;
    display: block;
    width: 100%;

    // first level
    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
      display: block;

      li {
        position: relative;
        display: inline-block;
        text-align: left;

        a {
          display: block;

          &:before {
            display: none;
          }
        }

        // link hover
        &:hover,
        &.focus {
          > ul {
            left: 0;
            display: block;

            li {
              > ul {
                display: none;

                // display: none; is required to make dropdowns work on touch devices
              }

              &:hover,
              &.focus {
                > ul {
                  left: 100%;
                  top: 0;
                  display: block;
                }
              }
            }
          }
        }
      }

      // second level
      ul {
        float: left;
        position: absolute;
        top: 100%;
        z-index: 99999;
        background-color: $base-background;
        display: none;

        // display: none; is required to make dropdowns work on touch devices
        li {
          a {
            width: 200px;
          }
        }
      }
    }
  }

  ul.menu {
    li {
      &.current-menu-itrem {
        > a {
          color: $color_body;
        }
      }
    }
  }

  // Primary Navigation
  .main-navigation {
    padding-top: .9375rem;

    ul.menu,
    ul.nav-menu {
      > li {
        // The first level menu item
        > a {
          padding: 0 1rem 2rem;
        }

        &:first-child {
          margin-left: -1rem;
        }

        &.menu-item-has-children,
        &.page_item_has_children {
          &:hover {
            &:after {
              display: block;
            }
          }

          > a {
            &:after {
              // The dropdown indicator
              content: '\f107';
              font-family: 'FontAwesome';
              margin-left: 1rem;
              line-height: inherit;
              font-weight: inherit;
            }
          }
        }
      }

      ul {
        // Dropdowns
        background-color: $base-background;
        margin-left: 0;

        li {
          background-color: rgba(0, 0, 0, .025);

          a {
            padding: .857rem 1rem;
          }

          &:last-child {
            border-bottom: 0;
          }

          &.menu-item-has-children,
          &.page_item_has_children {
            > a {
              &:after {
                // The dropdown indicator
                content: '\f105';
                font-family: 'FontAwesome';
                float: right;
              }
            }
          }
        }

        ul {
          margin-left: 0;
          border-top-color: $color_border;
          box-shadow: none;
        }

        a:hover,
        li:hover > a {
          background-color: rgba(0, 0, 0, .025);
        }
      }
    }

    a {
      padding: 0 1rem 2rem;
    }
  }

  // Secondary Navigation
  .secondary-navigation {
    margin: 0 0 .9375rem;
    width: auto;
    clear: none;
    line-height: 1;

    .menu {
      font-size: .857rem;
      width: auto;
      float: right;

      > li:hover> a {
        text-decoration: none;
      }

      > li> a {
        position: relative;

        &:before {
          content: '';
          display: block;
          width: 1px;
          height: 25%;
          background-color: rgba(#000, .05);
          position: absolute;
          top: 37.5%;
          left: -3px;
        }
      }

      > li:first-child a:before {
        display: none;
      }

      ul {
        background-color: $base-background;

        a {
          padding: .326rem .857rem;
          background: rgba(#000, .05);
        }

        li:first-child a {
          padding-top: 1rem;
        }

        li:last-child a {
          padding-bottom: 1rem;
        }

        ul {
          margin-top: -.618rem;
        }
      }

      a {
        padding: .625rem .857rem;
        font-weight: 400;
        color: lighten($color_body, 20%);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
