// --------------------------------------------------------------
// Theme options
//
// Start here!
// This is the core file where most of the theme magic happens.
// --------------------------------------------------------------
// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.

$font__headings: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
$font__base: "Bitter", "Helvetica Neue", Helvetica, sans-serif;

// Base color scheme
$body-background: #fcfcfc;
$color_body: #60646c;
$color_links: #87d37c;
$color_border: rgba(#000, .1);

// Notifications
$error: #e2401c;
$success: #0f834d;
$info: #3d9cd2;

// Layout sizes
$vspacing: 1.618em;
$desktop: 768px;
$handheld: 568px;
$container-width: 65.141em;
$susy: (
	columns: 12,
	gutters: 1,
	math: fluid,
	output: float,
	gutter-position: after,

	use-custom: (
		box-sizing: false
	)
);


// Colors
$color__base: #222;
$color__alt: #f08a5d;
$color__text: #555;
$color__link: $color__alt;
$color__link-visited: $color__alt;
$color__link-hover: darken($color__alt, 15%);

// Dude breakpoints
$layout-max-width: 100%;

// default: 1600px
$container-tv: 1824px;

// default: 1824px
$container-large: 1224px;

// default: 1224px
$container-desktop: 960px;

// default: 1170px
$container-landscape-ipad: 960px;

// default: 970px
$container-ipad: 770px;

// default: 750px
$container-mobile: 480px;

// default: 480px
$responsivenav: 872px;

// set to navigation width
$defaultpadding: 20px;
$slidepadding: 100px;

// Buttons
$buttonpadding-vertical: 15px;
$buttonpadding-horizontal: 27px;
$buttontxtcolor: #fff;
