@mixin screen-reader-text() {
  clip: rect(1px 1px 1px 1px);
  position: absolute !important;
}

@mixin message($glyph: "\f05a", $color: $info) {
  padding: 1rem .9375rem 1rem 3.631rem;
  background: rgba($color, .7);
  margin-bottom: 2.618rem;
  font-weight: normal;
  position: relative;
  color: #fff;
  text-shadow: none;

  &:before {
    font-family: 'FontAwesome';
    content: $glyph;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2.618rem;
    background: rgba(darken($color, 3%), .7);
    text-align: center;
    padding: 1rem .618rem;
    font-weight: normal !important;
    text-shadow: none;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  a.button {
    background: #fff;
    color: $color;
    padding: .202rem .618rem;

    &:hover,
    &:active {
      background: rgba(#fff, .8);
      color: $color;
    }
  }
}
