// Set root charset
@charset 'UTF-8' ;

// Reset CSS
@import '../../../../../bower_components/normalize-scss/_normalize';

// Susy
// Susy grid system. See: http://susydocs.oddbird.net/en/latest/
@import '../../../../../bower_components/susy/sass/susy';

// Utilities
// Sass tools and helpers used across the project.
@import 'config';
@import 'mixins';

// Base
// Holds what we might call the boilerplate code for the project.
@import 'base';

// Typography settings
@import '../typography/typography';

// WooCommerce
@import '../woocommerce/woocommerce';

// Structure, everything before starting the real layout
@import 'structure';

//
// Custom layout start

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 1rem;
  max-width: $container-desktop;
}

.shade {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
  background: #444;
}

.slide {
  @include background-cover();
  padding-top: 10%;
  padding-bottom: 10%;
  position: relative;
  color: #fff;
  border: 0;
  background-color: #fff;

  .container {
    position: relative;
    z-index: 3;
  }

  h1,
  h2 {
    margin-top: 0;
  }

  &.slide-front,
  &.slide-page {
    background-image: url('../images/coffee.jpg');

    h1,
    h2 {
      color: #fff;

      a {
        color: #fff;
      }
    }

    p {
      color: #fff;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
