// Star font, FontAwesome doesn't work :(
@font-face {
  font-family: 'star';
  src: url('../../../../content/plugins/woocommerce/assets/fonts/star.eot');
  src: url('../../../../content/plugins/woocommerce/assets/fonts/star.eot?#iefix') format('embedded-opentype'), url('../../../../content/plugins/woocommerce/assets/fonts/star.woff') format('woff'), url('../../../../content/plugins/woocommerce/assets/fonts/star.ttf') format('truetype'), url('../../../../content/plugins/woocommerce/assets/fonts/star.svg#star') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Header elements
.woocommerce-active {
  .site-header {
    .col-full {
      position: relative;
    }
  }

  .site-branding,
  .site-logo-anchor,
  .site-logo-link {
    float: left;
  }
}

.site-header-cart {
  list-style-type: none;
  margin-left: 0;
  padding: 0;

  .cart-contents {
    display: block;
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .05);
    text-indent: -9999px;

    &:after {
      content: '\f07a';
      font-family: 'FontAwesome';
      position: absolute;
      top: 0;
      right: 0;
      line-height: 2;
      width: 100%;
      text-align: center;
      text-indent: 0;
    }

    span {
      display: none;
    }
  }

  .widget_shopping_cart {
    display: none;
    background-color: $base-background;

    .product_list_widget {
      max-height: 15rem;
      overflow-y: auto;
    }
  }
}

.site-search {
  font-size: .857rem;
  clear: both;

  .widget_product_search {
    input[type=text],
    input[type=search] {
      padding: .625rem;
      line-height: 1.5;
      padding-left: 3rem;
    }

    form {
      &:before {
        top: .7rem;
        left: .9375rem;
      }
    }

    #searchsubmit {
      @include screen-reader-text();
    }
  }
}

// Shop tables
table.shop_table_responsive {
  thead {
    display: none;
  }

  tbody {
    th {
      display: none;
    }
  }

  tr {
    td {
      display: block;
      text-align: right;

      &:before {
        content: attr(data-title) ': ';
        font-weight: 700;
        float: left;
      }

      &.product-remove {
        a {
          text-align: left;
        }

        &:before {
          display: none;
        }
      }

      &.actions {
        &:before {
          display: none;
        }
      }
    }
  }

  &.my_account_orders {
    .order-actions {
      text-align: left;

      &:before {
        display: none;
      }
    }
  }
}

// Products
ul.products {
  margin-left: 0;
  clear: both;

  &:after {
    clear: both;
    content: '';
    display: table;
  }

  li.product {
    list-style: none;
    margin-left: 0;
    margin-bottom: 4.236rem;
    text-align: center;
    position: relative;

    .star-rating,
    .price {
      margin: 0 auto 1rem;
    }

    .price {
      display: block;
      color: $color_body;
      font-weight: 400;

      ins {
        font-weight: 700;
        margin-left: .618rem;
        background-color: transparent;
      }
    }

    h3 {
      font-size: 1.1rem;
    }

    .star-rating {
      font-size: .857rem;
    }

    img {
      display: block;
      margin: 0 auto .9375rem;
    }

    &.product-category {
      img {
        margin-bottom: .9375rem;
      }
    }

    .button {
      margin-bottom: .236rem;
    }
  }
}

// Single Product
.single-product {
  div.product {

		position: relative;
    overflow: hidden;

    &:after {
      clear: both;
      content: '';
      display: table;
    }

    .images,
    .summary {
      margin-bottom: 2.618rem;
      margin-top: 0;
    }

    .images {
      .woocommerce-main-image {
        margin-bottom: .9375rem;
        display: block;
      }

      .thumbnails {
        a.zoom {
          display: block;
          width: 22.05%;
          margin-right: 3.8%;
          float: left;
          margin-bottom: 1rem;

          &.last {
            margin-right: 0;
          }

          &.first {
            clear: both;
          }
        }
      }
    }

    form.cart {

			margin-bottom: .9375rem;
      padding: .9375rem 0;
      border-top: 3px solid rgba(0, 0, 0, .025);
      border-bottom: 3px solid rgba(0, 0, 0, .025);

      &:after {
        clear: both;
        content: '';
        display: table;
      }

      .quantity {
        float: left;
      }

      .button {
        float: right;
      }
    }

    .price {
      font-weight: 700;
    }

    table.variations {
      margin: 0;

      th,
      td {
        display: list-itrem;
        padding: 0;
        list-style: none;
        background-color: transparent;
      }

      .value {
        margin-bottom: 1rem;
      }
    }

    .single_variation {
      .price {
        margin-bottom: 1rem;
        display: block;
      }
    }

    .variations_button {
      padding-top: 1rem;
      border-top: 1px solid $color_border;

      &:after {
        clear: both;
        content: '';
        display: table;
      }
    }

    .woocommerce-product-rating {
      margin-bottom: 2.618rem;
			line-height: 1;
      border-bottom: 1px solid $color_border;
      padding: 0 0 .9375rem;
      margin-top: -.618rem;

      &:after {
        clear: both;
        content: '';
        display: table;
      }

      a {
        font-size: .857rem;
      }

      .star-rating {
        float: right;
      }
    }

    .product_meta {
      font-size: .857rem;

      .sku_wrapper,
      .posted_in,
      .tagged_as {
        border-bottom: 1px dotted $color_border;
        display: block;
        padding: .53rem 0;

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}

.stock {
  &:before {
    font-family: 'FontAwesome';
    margin-right: .53rem;
  }

  &.in-stock {
    color: $success;

    &:before {
      content: '\f118';
    }
  }

  &.out-of-stock {
    color: $error;

    &:before {
      content: '\f119';
    }
  }
}

a.reset_variations {
  display: inline-block;
  margin-left: 1rem;

  &:before {
    font-family: 'FontAwesome';
    content: '\f021';
    font-weight: 400;
    margin-right: .53rem;
  }
}

// Reviews
#reviews {
  #comments {
    padding-top: 0;
  }

  .commentlist {
    list-style: none;
    margin-left: 0;

    li {
      border-bottom: 1px solid $color_border;
      margin-bottom: 3.631rem;
      list-style: none;
      clear: both;

      time {
        opacity: .8;
      }

      .avatar {
        float: right;
        width: 2.618rem;
        height: auto;
      }

      p.meta {
        margin-bottom: 1rem;
      }

      .description {
        padding-bottom: .9375rem;
      }

      ul.children {
        @include span(last 5 of 6);
        border-top: 1px solid $color_border;
        padding-top: 2.618rem;
      }
    }
  }

  .comment-form-rating {
    clear: both;
  }
}

// Breadcrumbs

.woocommerce-breadcrumb {
  margin-bottom: 4.236rem;
  font-size: .857rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, .05);

  a.home {
    &:before {
      content: '\f015';
      font-family: 'FontAwesome';
      font-weight: 400;
      margin-right: .53rem;
    }
  }
}

// Widgets
.product_list_widget {
  list-style: none;
  margin-left: 0;

  li {
    padding: 1rem 0;
    border-bottom: 1px dotted $color_border;

    &:after {
      clear: both;
      content: '';
      display: table;
    }

    img {
      max-width: 2.618rem;
      float: right;
    }

    .quantity,
    > .amount {
      display: block;
    }
  }

  a {
    &:hover {
      color: $color_links;
    }
  }
}

.widget_products {
  a {
    display: block;
  }
}

.widget_shopping_cart {
  .product_list_widget {
    margin-bottom: 0;

    li {
      padding-left: 2rem;
      position: relative;

      a.remove {
        position: absolute;
        top: 1rem;
        left: 0;
        opacity: 1;
      }
    }
  }

  p.total,
  p.buttons {
    padding: 1rem 0;
    margin: 0;
    text-align: center;
  }

  p.total {
    border-bottom: 1px solid $color_border;
  }

  .buttons {
    .button {
      display: block;

      &:nth-child(odd) {
        margin-bottom: .618rem;
      }
    }
  }
}

.widget_product_categories {
  ul {
    margin: 0;

    li {
      list-style: none;
      margin-bottom: .618rem;

      &:before {
        font-family: 'FontAwesome';
        margin-right: .53rem;
        display: inline-block;
        opacity: .25;
        content: '\f114';
      }

      &.current-cat {
        &:before {
          content: '\f115';
        }
      }
    }
  }

  .children {
    margin-top: .618rem;
    margin-left: .9375rem;
  }
}

.site-header {
  .widget_shopping_cart {
    p.total,
    p.buttons,
    li {
      padding-left: .625rem;
      padding-right: .625rem;
      background-color: rgba(0, 0, 0, .025);
    }
  }
}

.widget_layered_nav {
  li {
    margin-bottom: .618rem;

    &:before {
      font-family: 'FontAwesome';
      margin-right: .53rem;
      display: inline-block;
      opacity: .35;
      content: '\f0c8';
    }
  }

  .chosen {
    &:before {
      content: '\f14a';
    }
  }
}

.widget.woocommerce {
  li {
    .count {
      font-size: 1rem;
      float: right;
    }
  }
}

.widget_price_filter {
  .price_slider {
    margin-bottom: 1rem;
  }

  .price_slider_amount {
    text-align: right;
    line-height: 2.4rem;

    .button {
      float: left;
    }
  }

  .ui-slider {
    position: relative;
    text-align: left;

		.ui-slider-handle {
    	position: absolute;
    	z-index: 2;
    	width: 1rem;
    	height: 1rem;
    	cursor: ew-resize;
    	outline: none;
    	background: $color_links;
    	box-sizing: border-box;
    	margin-top: -.25rem;
    	opacity: 1;

    	&:last-child {
    	  margin-left: -1rem;
    	}

    	&:hover,
    	&.ui-state-active {
    	  box-shadow: 0 0 0 .236rem rgba(#000, .1);
    	}
  	}

		.ui-slider-range {
    	position: absolute;
    	z-index: 1;
    	font-size: .7rem;
    	display: block;
    	border: 0;
    	background: $color_links;
  	}
	}

  .price_slider_wrapper .ui-widget-content {
    background: rgba(0, 0, 0, .1);
  }

  .ui-slider-horizontal {
    height: .5rem;

		.ui-slider-range {
  	  top: 0;
    	height: 100%;
  	}

		.ui-slider-range-min {
    	left: -1px;
  	}

	  .ui-slider-range-max {
  	  right: -1px;
  	}
	}
}

// Cart
table.cart {
  margin-bottom: 3.631rem;

  thead {
    text-indent: -999rem;

    th {
      padding: 0;
    }
  }

  .product-thumbnail,
  .product-quantity .plus,
  .product-quantity .minus {
    display: none;
  }

  td,
  th {
    padding: .53rem;
  }

  .qty {
    padding: .236rem;
    max-width: .9375rem;
  }

  td.actions {
    label {
      display: none;
    }

    .coupon {
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px dotted $color_border;
    }

    input {
      display: block;
      width: 100%;
      margin: .236rem 0;
    }
  }
}

.wc-proceed-to-checkout {

	margin-bottom: .9375rem;

  &:after {
    clear: both;
    content: '';
    display: table;
  }

  .button {
    display: block;
    text-align: center;
    margin-bottom: 1rem;

    &.checkout-button {
      font-size: .9rem;
    }
  }
}

ul#shipping_method {
  margin: 0;
  list-style: none;
}

a.remove {
  display: block;
  width: .9375rem;
  height: .9375rem;
  line-height: 1.618;
  font-weight: 400;
  text-indent: -9999px;
  position: relative;

  &:before {
    content: '\f057';
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: $error;
    line-height: 1.618;
    text-indent: 0;
    text-align: center;
    font-weight: 400;
  }
}

// Checkout
.checkout_coupon {
  margin-bottom: 2.618rem;
}

form.checkout {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

#payment {
	border-top: 3px solid $color_border;

  &:after {
    clear: both;
    content: '';
    display: table;
  }

  .create-account {
    clear: both;
  }

  .payment_methods {
    margin: 0 !important;
    border-bottom: 1px dotted $color_border;
    padding: 0 !important;

    li {
      list-style: none !important;
      padding: .625rem !important;
      border-bottom: 1px dotted $color_border;
      margin-left: 0;

      img {
        float: right;
        border: 0;
        padding: 0;
        max-height: .9375rem;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }

      label {
        width: 92%;
        padding-top: 0 !important;
        margin-left: .618rem;
        font-weight: bold;
      }

      p {
        margin: 0;
      }

      .payment_box {
				border-top: 1px dotted $color_border;
				padding: .625rem;
        margin: .625rem -.625rem -.625rem;
        background: rgba(0, 0, 0, .035);

        fieldset {
          border: 0;
          margin: 0;
          padding: 1rem 0 0;
          font-size: .857rem;

          label {
            width: auto;
            margin-left: 0;
          }

          .form-row {
            margin-bottom: 1rem;
          }

          .form-row-first {
            select {
              width: 48%;

              &:nth-child(2n) {
                float: right;
              }
            }
          }

          #cvv {
            width: 22% !important;
          }

          .help {
            width: 75%;
            float: right;
          }
        }
      }
    }
  }

  .terms {
    width: 100%;
    clear: both;
    float: none;
    margin-bottom: 0;
    margin-top: 1rem;

    label {
      display: inline;
    }

    input {
      display: inline-block;
      width: auto;
      float: left;
      margin: .327rem .53rem 0 0;
    }
  }

  .place-order {
    padding: .625rem;
    margin-bottom: 0;
    float: none;
    width: 100%;

    .button {
      font-size: .9rem;
      width: 100%;
      white-space: pre-wrap;
    }
  }
}

.woocommerce-checkout {
  .payment-fixed {
    position: fixed;
    top: 0;
  }
}

.admin-bar {
  .woocommerce-checkout {
    .payment-fixed {
      top: 32px;
    }
  }
}

// Password strength meter
.woocommerce-password-strength {
  font-weight: 600;
  padding: .53rem 0;
  text-align: right;
  font-size: .857rem;

  &:after {
    content: '\f119';
    font-family: 'FontAwesome';
    display: inline-block;
    font-weight: 400;
    margin-left: .53rem;
  }

  &.strong {
    color: $success;

    &:after {
      content: '\f118';
    }
  }

  &.short {
    color: $error;
  }

  &.bad {
    color: $error;
  }

  &.good {
    color: $info;

    &:after {
      content: '\f11a';
    }
  }
}

// My Account
ul.order_details {

	list-style: none;
  border: 1px solid $color_border;
  position: relative;
  margin-left: 0;

  &:after {
    clear: both;
    content: '';
    display: table;
  }

  li {
    float: left;
    padding: 1rem .9375rem;
    border-right: 1px solid $color_border;
    font-size: .8rem;
    text-transform: uppercase;

    &:last-child {
      border-right: 0;
    }

    strong {
      display: block;
      font-size: .9rem;
      text-transform: none;
    }
  }
}

ul.digital-downloads {
  list-style: none;
  margin-left: 0;

  li {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px dotted $color_border;

    &:before {
      font-family: 'FontAwesome';
      content: '\f019';
      margin-right: .53rem;
    }
  }
}

.my_account_orders {
  .button {
    padding: .53rem 1rem;
    font-size: .857rem;
    margin-right: .236rem;
  }
}

// General WooCommerce components
.form-row {
  label {
    display: block;
  }

  input,
  textarea,
  select {
    width: 100%;
  }

  input[type=checkbox],
  input[type=radio] {
    width: auto;
  }

  .button {
    width: auto;
  }

  &.create-account {
    label {
      display: inline-block;
    }
  }

  &.woocommerce-validated {
    input.input-text {
      box-shadow: inset 2px 0 0 $success;
    }
  }

  &.woocommerce-invalid {
    input.input-text {
      box-shadow: inset 2px 0 0 $error;
    }
  }
}

.form-row-last {
  margin-right: 0 !important;
}

.form-row-wide {
  clear: both;
  width: 100%;
}

.required {
  border-bottom: 0 !important;
  color: #ff0;
}

.demo_store {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 1rem .625rem;
  background-color: $info;
  color: #fff;

  &:before {
    font-family: 'FontAwesome';
    margin-right: .53rem;
    content: '\f05a';
  }
}

.star-rating {
  overflow: hidden;
  position: relative;
  height: 1rem;
  line-height: 1;
  font-size: 1rem;
  width: 5.5rem;
  font-family: 'star';

  &:before {
    content: '\73\73\73\73\73';
    color: rgba(0, 0, 0, .2);
    float: left;
    top: 0;
    left: 0;
    position: absolute;
  }

  span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5rem;
  }

  span:before {
    content: '\53\53\53\53\53';
    top: 0;
    position: absolute;
    left: 0;
    color: $color_links;
  }
}

p.stars {
  a {
    position: relative;
    height: 1rem;
    width: 1rem;
    text-indent: -999rem;
    display: inline-block;
    text-decoration: none;
    margin-right: 1px;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1rem;
      height: 1rem;
      line-height: 1;
      font-family: 'WooCommerce';
      content: '\e021';
      text-indent: 0;
    }

    &:hover {
      ~ a:before {
        content: '\e021';
      }
    }
  }

  &:hover {
    a {
      &:before {
        content: '\e020';
      }
    }
  }

  &.selected {
    a.active {
      &:before {
        content: '\e020';
      }

      ~ a:before {
        content: '\e021';
      }
    }

    a:not(.active) {
      &:before {
        content: '\e020';
      }
    }
  }
}

.onsale {
  border: 2px solid;
  border-color: $color_body;
  color: $color_body;
  padding: .202rem .618rem;
  font-size: .857rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 1rem;
}

.quantity {
  .qty {
    max-width: 3.631rem;
    text-align: center;
  }
}

.storefront-sorting {
  font-size: .857rem;
  margin-bottom: 2.618rem;
}

.woocommerce-tabs {
  border: 1px solid $color_border;
  border-width: 1px 0;
  padding: 1rem 0;

  ul.tabs {
    list-style: none;
    margin-left: 0;
    text-align: center;

    li {
      display: inline-block;
      margin-right: 1rem;
      position: relative;

      &.active {
        a {
          color: $color_body;
        }

        &:after {
          content: '\f107';
          font-family: 'FontAwesome';
          position: absolute;
          top: 100%;
          left: 50%;
          height: 1rem;
          width: 1rem;
          line-height: inherit;
          margin-left: -.5rem;
        }
      }
    }
  }
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
  padding: 1rem .9375rem;
	margin-bottom: 2.618rem;
  background-color: $success;
  margin-left: 0;
  color: #fff;
  clear: both;
  border-left: .618rem solid rgba(0, 0, 0, .15);

  &:after {
    clear: both;
    content: '';
    display: table;
  }

  a {
    color: #fff;

    &:hover {
      color: #fff;
      opacity: .7;
    }

    &.button:hover {
      opacity: 1;
    }
  }

  .button {
    float: right;
    padding: 0;
    background: none;
    color: #fff;
    box-shadow: none;
    line-height: 1.618;
    padding-left: 1rem;
    border-width: 0;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(255, 255, 255, .25) !important;
    border-radius: 0;

    &:hover {
      background: none;
      color: #fff;
      opacity: .7;
    }
  }

  pre {
    background-color: rgba(0, 0, 0, .1);
  }
}

.site-content {
  > .col-full {
    > .woocommerce {
      > .woocommerce-message,
      > .woocommerce-info,
      > .woocommerce-error {
        &:first-child {
          margin-top: 2.618rem;
        }
      }
    }
  }
}

.wc-forward {
  &:after {
    content: '\f178';
    font-family: 'FontAwesome';
    margin-left: .53rem;
    font-weight: 400;
  }
}

.woocommerce-error {
  list-style: none;
	background-color: $error;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
  background-color: $info;
}

dl.variation {
  font-size: .857rem;

  dd {
    margin: 0 0 1rem;
  }
}

// Homepage
.storefront-product-section {
  border-bottom: 3px solid rgba(0, 0, 0, .025);
  margin-bottom: 4.236rem;

  .section-title {
    text-align: center;
  }

  &:last-child {
    border-bottom: 0;
  }
}

@include susy-media($desktop) {

// Responsive tables
  table.shop_table_responsive {
    thead {
      display: table-header-group;
    }

    tbody {
      th {
        display: table-cell;
      }
    }

    tr {
      td {
        display: table-cell;

        &:before {
          display: none;
        }
      }
    }
  }

// Header Elements
  .site-header-cart {
    position: relative;

    .cart-contents {
      padding: 0 1rem 2rem;
      display: block;
      position: relative;
      background-color: transparent;
      height: auto;
      width: auto;
      text-indent: 0;

      &:after {
        right: .9375rem;
        line-height: 1;
        height: 1rem;
        width: 1rem;
        top: .3rem;
      }

      .amount {
        margin-right: .327rem;
      }

      .count {
        font-weight: 400;
        opacity: .5;
        font-size: .857rem;
        line-height: 2;
      }

      span {
        display: inline;
      }
    }

    .widget_shopping_cart {
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 999999;
      font-size: .857rem;
      left: -999rem;
      display: block;

      h2.widgettitle {
        display: none;
      }

      .product_list_widget li a.remove {
        position: relative;
        float: left;
        top: auto;

        &:before {
          text-align: left;
        }
      }
    }

    &:hover,
    &.focus {
      .widget_shopping_cart {
        left: 0;
      }
    }
  }

// Reset mobile product styles
  ul.products {
    li.product {
      clear: none;
      width: 100%;
      float: left;
      font-size: .857rem;

      &.first {
        clear: both !important;
      }

      &.last {
        margin-right: 0 !important;
      }
    }
  }

// Full width content area product layout
  .page-template-template-fullwidth-php,
  .page-template-template-homepage-php,
  .storefront-full-width-content {
    .site-main {
      .columns-1 {
        ul.products {
          li.product {
            width: 100%;
            margin-right: 0;
            float: none;
          }
        }
      }

      .columns-2 {
        ul.products {
          li.product {
            @include span(6 of 12);
          }
        }
      }

      .columns-3 {
        ul.products {
          li.product {
            @include span(4 of 12);
          }
        }
      }

      .columns-4 {
        ul.products {
          li.product {
            @include span(3 of 12);
          }
        }
      }

      // The grid wont work for 5 columns :-(
      .columns-5 {
        ul.products {
          li.product {
            width: 16.9%;
            margin-right: 3.8%;
          }
        }
      }
    }
  }

  // Main content area (adjacent to sidebar) product layout
  .site-main {
    .columns-1 {
      ul.products {
        li.product {
          width: 100%;
          margin-right: 0;
          float: none;
        }
      }
    }

    // The grid wont work for 2 columns :-(
    .columns-2 {
      ul.products {
        li.product {
          width: 48%;
          margin-right: 3.8%;
        }
      }
    }

    .columns-3 {
      ul.products {
        li.product {
          @include span(3 of 9);
        }
      }
    }

    // The grid wont work for 4 columns :-(
    .columns-4 {
      ul.products {
        li.product {
          width: 22.05%;
          margin-right: 3.8%;
        }
      }
    }

    // The grid wont work for 5 columns :-(
    .columns-5 {
      ul.products {
        li.product {
          width: 16.9%;
          margin-right: 3.8%;
        }
      }
    }

    ul.products {
      li.product {
        @include span(3 of 9);
      }
    }
  }

// Single product page
  .single-product {
    div.product {
      .images {
        @include span(4 of 9);
        margin-bottom: 3.631rem;

        .thumbnails {
          &:after {
            clear: both;
            content: '';
            display: table;
          }

          a.zoom {
            @include span(1 of 4);

            &.last {
              @include last;
            }
          }
        }
      }

      .summary {
        @include span(last 5 of 9);
        margin-bottom: 3.631rem;
      }

      .woocommerce-tabs {
        clear: both;
      }
    }
  }

  #reviews {
    .comment-form-author,
    .comment-form-email {
      width: 47%;
    }

    .comment-form-email {
      margin-right: 0;
    }
  }

  // Full width single product
  .storefront-full-width-content.single-product {
    div.product {
      .images {
        @include span(4 of 12);
        margin-bottom: 3.631rem;

        .thumbnails {
          a.zoom {
            @include span(1 of 4);

            &.last {
              margin-right: 0;
            }
          }
        }
      }

      .summary {
        @include span(last 8 of 12);
        margin-bottom: 3.631rem;
      }

      .woocommerce-tabs {
        clear: both;
      }
    }

    .related,
    .upsells {
      ul.products {
        li.product {
          @include span(4 of 12);
        }
      }
    }
  }

  .woocommerce .page-description {
    margin-bottom: .9375rem;
  }

  .storefront-sorting {
		margin-bottom: 2.618rem;

	  &:after {
      clear: both;
      content: '';
      display: table;
    }

    select {
      width: auto;
    }
  }

  .woocommerce-result-count {
    float: left;
    position: relative;
    margin-bottom: 0;
    padding: .327rem 0;
  }

  .woocommerce-ordering {
    float: left;
    margin-right: 1rem;
    margin-bottom: 0;
    padding: .327rem 0;
  }

  .woocommerce-pagination {
    float: right;
    border: 0;
    clear: none;
    padding: 0;
    margin-bottom: 0;
  }

// Cart
  .page-template-template-fullwidth-php {
    table.cart {
      .product-thumbnail {
        display: table-cell;

        img {
          max-width: 3.631rem;
          height: auto;
          border: .327rem solid #fff;
        }
      }

      thead {
        font-size: 1rem;
        text-indent: 0;

        th {
          padding: .857rem .625rem;
        }
      }
    }
  }

  table.cart {
    th,
    td {
      padding: .857rem .625rem;
    }

    .qty {
      padding: .857rem;
      max-width: 3.632rem;
    }

    .product-remove {
      display: table-cell;
    }

    .product-quantity .plus,
    .product-quantity .minus {
      display: inline-block;
    }

    .quantity {
      .qty {
        padding: .618rem;
      }
    }

    td.actions {
      text-align: right;

      label {
        display: none;
      }

      .coupon {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
        display: inline-block;
        float: left;
      }

      input {
        display: inline-block;
        width: auto;
        margin: 0;
      }
    }
  }

  .cart-collaterals {
    &:after {
      clear: both;
      content: '';
      display: table;
    }

    .cross-sells {
      @include span(4 of 9);

      ul.products {
        li.product {
          @include span(2 of 4);
        }
      }
    }

    .cart_totals,
    .shipping_calculator {
      @include span(last 5 of 9);
      margin: 0;
      clear: right;
    }

    .shipping_calculator {
      clear: right;
    }
  }

  .page-template-template-fullwidth-php {
    .cart-collaterals {
      .cross-sells {
        @include span(6 of 12);

        ul.products {
          li.product {
            @include span(3 of 6);
          }
        }
      }

      .cart_totals,
      .shipping_calculator {
        @include span(last 6 of 12);
      }
    }
  }

// Checkout
  .col2-set {
    @include span(5 of 9);

    .form-row-first {
      @include span(2 of 5);
    }

    .form-row-last {
      @include span(last 3 of 5);
    }

    .col-1,
    .col-2 {
      margin-bottom: .9375rem;
    }

    + #customer_details {
      display: none;
    }
  }

  #order_review_heading,
  #order_review {
    @include span(last 4 of 9);
    border: 3px solid $color_links;
    clear: right;
  }

  #order_review_heading {
    @include gutters(inside);
    margin-bottom: 0;
    padding-bottom: .618rem;
    padding-top: .618rem;
    border-width: 3px 3px 0;
  }

  #order_review {
    border-width: 0 3px 3px;
  }

  // Payment forms in account
  .woocommerce-order-pay,
  .page-template-template-fullwidth-php.woocommerce-order-pay {
    #order_review {
      border-width: 3px;
      width: 100%;
      float: none;

      #payment {
        h3 {
          padding-left: 1rem;
          padding-top: 1rem;
        }

        .form-row {
          padding: 1rem;
        }
      }

      .payment_methods + .form-row {
        padding: 1rem;
      }

      .button#place_order {
        display: block;
        width: 100%;
        font-size: .9rem;
      }
    }
  }

  #wc_checkout_add_ons {
    @include span(4 of 9);
  }

  .page-template-template-fullwidth-php {
    .col2-set {
      @include span(6 of 12);

      .form-row-first {
        @include span(3 of 6);
      }

      .form-row-last {
        @include span(last 3 of 6);
      }
    }

    #order_review_heading,
    #order_review {
      @include span(last 6 of 12);
    }

    #wc_checkout_add_ons {
      @include span(last 6 of 12);
    }

    #order_review {
      font-size: .857rem;
    }
  }

  #order_review {
    .shop_table {
      margin-bottom: 2.618rem;
    }
  }

// My Account
  .col2-set#customer_login {
    @include span(full);

    .col-1 {
      @include span(4 of 9);
    }

    .col-2 {
      @include span(5 of 9 last);
    }
  }

  .page-template-template-fullwidth-php {
    .col2-set#customer_login {
      .col-1 {
        @include span(6 of 12);
      }

      .col-2 {
        @include span(6 of 12 last);
      }
    }
  }

// General WooCommerce Components
  .form-row-first {
    @include span(4.5 of 9);
    clear: both;
  }

  .form-row-last {
    @include span(last 4.5 of 9);
  }

  .page-template-template-fullwidth-php {
    .form-row-first {
      @include span(6 of 12);
    }

    .form-row-last {
      @include span(last 6 of 12);
    }
  }

  .storefront-full-width-content {
    .woocommerce-tabs {
      ul.tabs {
        @include span(4 of 12);
      }

      .panel {
        @include span(last 8 of 12);
        margin-bottom: 3.631rem;
      }
    }
  }

  .woocommerce-tabs {
		margin-bottom: 2.618rem;
    padding-top: 2.618rem;
    padding-bottom: 2.618rem;

    &:after {
      clear: both;
      content: '';
      display: table;
    }

    ul.tabs {
      @include span(3 of 9);
      text-align: left;

      li {
        display: block;
        margin: 0;
        border-bottom: 1px dotted $color_border;

        a {
          padding: 1rem 0;
          display: block;
        }

        &.active {
          &:after {
            margin: 0;
            right: 0;
            left: auto;
            top: 50%;
            content: '\f105';
            margin-top: -.5rem;
          }
        }
      }
    }

    .panel {
      @include span(last 6 of 9);
      margin-top: 0;
    }
  }
}
